<!DOCTYPE html>
<html>
    <head>
        <title>User Validation Page</title>
    </head>
    <body>
        <div style="margin-left:44%; margin-top: 10%;">
            <form action="/check-validation" method='post'>
                <input type="text" name="code" placeholder="4-digit.." />
                <input type="submit" name="verification" value="Verify" />
            </form>
        </div>
    </body>
</html>